body {
  background-image: url(https://i.postimg.cc/pTNGyxhd/muzy2.jpg);
  background-size: 100%;
  color: white;
}

p {
  font-size: 30px;
  font-weight: bold;
}

button {
  background-color: white;
  color: black;
  width: 100px;
  position: absolute;
}

.hidden {
  display:none;
}

#move {
  left: 200px;
}

#change:hover {
  cursor:pointer;
}